-- ===================================================
-- T-REX Shop: Fix Profiles Schema SQL
-- ===================================================

-- 1. إضافة عمود البريد الإلكتروني والاسم لجدول profiles
ALTER TABLE public.profiles
ADD COLUMN IF NOT EXISTS email TEXT,
ADD COLUMN IF NOT EXISTS name TEXT;

NOTIFY pgrst, 'reload schema';
